*{
    margin: 0px;
    padding: 0px;
}
body{
    display:flex;
    justify-content: center;
    background-color: gray;
    font-family: sans-serif;
}

.corpo{
    width: 50%;
    background-color: rgba(67, 67, 206, 0.535);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.298);
}

p, h1{
    padding: 10px;
    text-align: justify;
}
p{
    font-size: 22px;
    color: rgb(231, 225, 225);
    line-height: 0.7cm;
}

@media (max-width: 500px){
    p{
        font-size: 15px;
        text-align: center;
    }
}
nav{
    width: 100%;
    height: 50px;
    padding: 2px 0px 2px 0px;
    background-color: rgb(18, 35, 50);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

@media (max-width: 1050px){
    nav{
        height: 70%;
    }
}
@media (max-width: 732px){
    nav{
        height: 70%;
    }
}

@media (max-width: 612px){
    nav{
        height: 90%;
    }
}
h1{
    text-align: center;
    margin: 0px;
    color: rgb(231, 225, 225);
}
@media (max-width: 500px){
    h1{
        font-size: 25px;
    }
}

a{
    color: rgb(231, 225, 225);
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(27, 27, 91);
    border-width: 0.1px;
    transition:ease-in-out 0.2s ;
    padding: 0px 1px 0px 1px;
}
@media (max-width: 500px){
    a{
        font-size: 15px;
    }
}

a:hover{
    background-color: rgb(29, 20, 159);
    color:white;
    transform: translateX(100px);
}

a:visited{
    color:rgb(217, 214, 214);
}

a:active{
    background-color: blue;
}